<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BGTest_Movieplay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E254EEFC1CA4E531006B41EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E254EF151CA4E532006B41EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E254EF201CA4E532006B41EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
